# Compose project state
POSTGRES_USER=academic_search
POSTGRES_PASSWORD=academic_search_dev
POSTGRES_DB=academic_search
POSTGRES_PORT=55432
REDIS_PORT=6379
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_DOCUMENTS_BUCKET=academic-documents
MILVUS_BUCKET=milvus-data
MILVUS_PORT=19530
MILVUS_METRICS_PORT=9091
